@import url('https://fonts.googleapis.com/css2?family=Acme&family=Gochi+Hand&family=Jersey+10&family=Kaushan+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* border:1px solid red, !important; */
  border:none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Arial", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  display: flex;
  background-color: var(--color-font);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

:root {
  /* Warna */
  --bg-color: #000000;
  --color-font: #FFFFFF;
  --hover-color: #2fd0e8;
  
  /* Font */
  --main-jersey-kategori-font: 'Jersey 10', serif;
  --main-gochi-font: 'Gochi Hand', serif;
  --main-acme-font: "Acme", serif;
  --main-kaushan-font: "Kaushan Script", serif;
}

.header {
  position: fixed;
  top: 1%;
  width: 65%;
  height: 12%;
  padding: 2rem 1%;
  background-color: var(--color-font);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.navbar {
  display: flex;
  gap: 3rem;
}

.navtext {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.navbar a {
  font-family: var(--main-jersey-kategori-font);
  font-size: 3.3rem;
  color: var(--bg-color);
  transition: 0.3s ease-in-out;
}

.header #icon {
  font-size: 3rem;
  font-family: var(--main-jersey-kategori-font);
  color: var(--bg-color);
  transition: 0.3s ease-in-out;
}

.header #icon:hover {
  color: var(--hover-color);
}

.navtext a:hover, .navbar a:hover {
  color: var(--hover-color);
}

.sosmed {
  display: flex;
  gap: 3.5rem;
}

.sosmed img:hover{
  animation: shake 0.3s ease-in-out;
}

.sosialmedia img {
  width: 9vh;
  height: 9vh;
}

.main-hero {
  width: 100%;
}

.main-hero .top {
  display: flex;
  align-items: center;
}

.slide-grid{
  width: 10%;
  height: 100%;
  background-color: rgb(168, 89, 142); 
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  z-index: 103;

}
#background{
  position:relative;
  top: 0%;
  left: 10%;
  transform: scale(2);
}
.headed .main-hero img {
  max-width: 100%;
  height: auto;
}

#partikel {
  position: relative;
  right: 77rem;
  bottom: 15rem;
}

#partikel1 {
  position: relative;
  right: 240rem;
  bottom: 25vh;
  transform: rotate(180deg);
}

#gelombang1 {
  position: relative;
  right: 450vh;
  top: 25vh;
  z-index: 99;
}

#gelombang2 {
  position: relative;
  right: 698vh;
  top: 20vh;
  z-index: 98;
}

#gelombang3 {
  position: relative;
  right: 943vh;
  top: 15vh;
  z-index: 97;
}

.foto{
  position: relative;
  bottom: 92rem;
  left: 90rem;
}
.foto img{
  width: 45rem;
  height: auto;
}

.text h1 {
  font-family: var(--main-kaushan-font);
  text-shadow: 0 0 10px #000000;
}

.branding {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.main .text-slide{
position: relative;
font-family: var(--main-kaushan-font);
color: var(--bg-color);
bottom: 43vh;
font-size: 7vh;
right: 150vh;
z-index: 96;
}

.grid-slide {
  width: 55rem;
  top: 30vh;
  left: 25vh;
  position: absolute;
  height: 19rem;
  background: linear-gradient(45deg, rgb(184, 182, 182), rgb(84, 72, 85));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.grid-slide p{
  font-family: var(--main-jersey-kategori-font);
  font-size: 4vh;
  text-align: center;
}

.grid-item{
  top: 4rem;
  right: 120rem;
  position: relative;
  height: 60rem;
  width: 30rem;
  background: linear-gradient(to bottom, rgb(178, 202, 215), rgb(64, 64, 64));
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-radius: 6px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.title{
  min-width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 100%;
  font-family: var(--main-jersey-kategori-font);
  font-size: 9vh;
  flex-grow: 1;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-deskripsi{
  min-width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 100%;
  position: relative;
  top: 25vh;
  font-family: var(--main-jersey-kategori-font);
  font-size: 4vh;
  flex-grow: 1;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-in-container{
  display: grid;
  position: absolute;
  top: 4rem;
  left: 6rem;
  place-items: center;
  background-color: var(--color-font);
  width: 60%;
  height: 30%;
  border-radius: 50%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.grid-in-container .grid-foto{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bulat-foto{
  position: relative;
  bottom: 26rem;
  left: 6rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transform: scale(2.6);
  object-fit: cover;
}
.grid-item2{
  top: 4rem;
  left: 30rem;
  position: relative;
  height: 70rem;
  width: 90rem;
  background: linear-gradient(to bottom, rgb(178, 202, 215), rgb(64, 64, 64));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.grid-in{
  top: 1rem;
  left: 1.2rem;
  position: relative;
  height: 70rem;
  width: 90rem;
  background: linear-gradient(to bottom, rgb(178, 202, 215), rgb(64, 64, 64));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 99;
}
#porsonality{
  position: relative;
  bottom: 28rem;
  left: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-in .grid-foto2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-foto2 .petak-foto{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-foto2 img{
  position: relative;
  right: 100vh;
  bottom: 20vh;
  
}
.petak-foto {
  width: 170px;  
  height: 170px;
  object-fit: cover; 
  border-radius: 0; 
  border-radius: 10px; 
}



@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .navbar {
    flex-direction: column;
    gap: 1rem;
  }

  .sosmed {
    margin-top: 1rem;
  }

  .sosialmedia img {
    width: 3vh;
    height: 3vh;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .navbar a, .navtext a {
    font-size: 1.6rem;
  }

  .header #icon {
    font-size: 2.5rem;
  }

  .text h1 {
    font-size: 1.5rem;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}