<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="/Asset/icon-Fa.jpg">
</head>
<body>
  <header class="header">
    <a id="icon" href="#">Fortopolio</a>
    <nav class="navbar">
      <div class="navtext">
        <a href="#">Home</a>
        <a href="#">Contact</a>
        <div class="sosmed">
          <a href="https://github.com/MuliaAndiki" target="_blank">
            <div class="sosialmedia">
              <img src="/Asset/GitHub.jpg" alt="GitHub">
            </div>
          </a>
          <a href="#">
            <div class="sosialmedia">
              <img src="/Asset/Instagram.jpg" alt="Instagram">
            </div>
          </a>
          <a href="#">
            <div class="sosialmedia">
              <img src="/Asset/Discord.jpg" alt="Discord">
            </div>
          </a>
        </div>
      </div>
      <div id="message">
        <a href="#">
          <div class="sosialmedia">
            <img src="/Asset/Pesan.jpg" alt="Pesan">
          </div>
        </a>
      </div>
    </nav>
  </header>
  <section class="main-hero">
    <div class="top">
      <img id="background" src="/Asset/BackGround.png" alt="Background">
      <img id="partikel" src="/Asset/Partikel 2.png" alt="Partikel">
      <img id="partikel1" src="/Asset/Partikel 2.png" alt="Partikel">
      <img id="gelombang1" src="/Asset/Gelombang 3.png" alt="Gelombang">
      <img id="gelombang2" src="/Asset/Gelombang 2.png" alt="Gelombang">
      <img id="gelombang3" src="/Asset/Gelombang 1.png" alt="Gelombang">
    </div>

    <div class="foto">
      <img src="/Asset/Foto 1.png" alt="foto">
    </div>
  </section>
  <section class="main">
    <h1>Mulia Andiki</h1>
    <!-- <div class="grid-container"> -->
      <div class="grid-slide">
        <p>
          I am an Informatics student at Syiah Kuala University and currently taking my 4th semester. I have an interest in web development, UI/UX design, Graphic Video</p>
      </div>
      <div class="grid-item">
        <div class="about">
          <p>ABOUT ME</p>
        </div>
        <div class="grid-in-container">
          <div class="grid-foto">
            <img src="/Asset/FOTO3.jpg" alt="Foto" class="bulat-foto">
            
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>