<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="/Asset/icon.jpeg">
</head>
<body>
  <!-- Header -->
  <header class="header">
    <a id="icon" href="#porsonality">Fortopolio</a>
    <nav class="navbar">
      <div class="navtext">
        <a href="#">Home</a>
        <a href="#About">About</a>
        <div class="sosmed">
          <a href="https://github.com/MuliaAndiki" target="_blank">
            <div class="sosialmedia">
              <img src="/Asset/GitHub.jpg" alt="GitHub">
            </div>
          </a>
          <a href="https://www.instagram.com/muliaandikyy_?igsh=MWppanJwM2xnZ2NlcA%3D%3D&utm_source=qr">
            <div class="sosialmedia">
              <img src="/Asset/Instagram.jpg" alt="Instagram">
            </div>
          </a>
          <a href="#">
            <div class="sosialmedia">
              <img src="/Asset/Discord.jpg" alt="Discord">
            </div>
          </a>
        </div>
      </div>
      <div id="message">
        <a href="/view/pesan.html" target="_blank">
          <div class="sosialmedia">
            <img src="/Asset/Pesan.jpg" alt="Pesan">
          </div>
        </a>
      </div>
    </nav>
  </header>
  <section class="main-hero">
    <div class="top">
      <img id="background" src="/Asset/BackGround.png" alt="Background">
        <img id="partikel" src="/Asset/Partikel 2.png" alt="Partikel">
          <img id="partikel1" src="/Asset/Partikel 2.png" alt="Partikel">
            <img id="gelombang1" src="/Asset/Gelombang 3.png" alt="Gelombang">
          <img id="gelombang2" src="/Asset/Gelombang 2.png" alt="Gelombang">
        <img id="gelombang3" src="/Asset/Gelombang 1.png" alt="Gelombang">
    </div>

    <div class="foto">
      <img src="/Asset/Foto 1.png" alt="foto">
    </div>
  </section>
  <section class="main">
    <h1 class="text-slide">Mulia Andiki</h1>
    <!-- <div class="grid-container"> -->
      <div class="grid-slide">
        <p>
          I am an Informatics student at Syiah Kuala University and currently taking my 4th semester. I have an interest in web development, UI/UX design, Graphic Video</p>
      </div>
      <div class="grid-item" id="About">
        <div class="about">
          <p class="title">About ME!</p>
          <p class="about-deskripsi">Hello! I'm Mulia Andiki, an Informatics student at Syiah Kuala University, currently in my 4th semester. I'm passionate about web development, UI/UX design, and graphic video creation. Throughout my academic journey, I've immersed myself in the world of technology, always eager to explore new advancements and apply </p>
        </div>
        <div class="grid-in-container">
          <div class="grid-foto">
            <img src="/Asset/FOTO3.jpg" alt="Foto" class="bulat-foto">
         
        <div class="grid-item2">
          <div class="grid-in">
            <h1 class="title" id="porsonality"> <- Porsonality -></h1>
            <p class="porsonality-deskripsi">Dalam hal kepribadian, saya percaya dalam mengadopsi pola pikir yang positif, kreatif, dan ingin tahu. Saya senang menjelajahi ide-ide baru dan mendorong batasan, selalu bersemangat untuk belajar dan berkembang. Pendekatan saya terhadap kehidupan dipandu oleh hasrat yang tulus terhadap teknologi, desain, dan kreativitas.</p>
          <div class="grid-foto2">
              <img src="/Asset/FOTO1.jpg" alt="Foto" class="petak-foto">
              <div class="foto-3">
                <p id="title1">Gambar 1.1</p>
                  <p id="title2"><-Skills-> </p>
              </div>

                <div class="grid-skills">
                    <div class="skills-card">
                      <img src="/Asset/Ae.png" alt="After Effect">
                    </div>
                    <div class="skills-card">
                      <img src="/Asset//Pr.png" alt="Premier Pro">
                    </div>
                    <div class="skills-card">
                      <img src="/Asset/Davinci.png" alt="Davinci">
                    </div>
                    </div>
                </div>

            </div>
            </div>

          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>