<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="iconFa" type="x-icon" href="/Asset/icon-Fa.jpg">

</head>
<body>
  <header class="header">
    <a id="icon"href="#">Fortopolio</a>
  
    <nav class="navbar">
      <div class="navtext">
        <a href="#">Home</a>
        <a href="#">Contact</a>

        <div class="sosmed">
          <a href="https://github.com/MuliaAndiki" target="_blank">
              <div class="sosialmedia">
                <img src="/Asset/GitHub.jpg" alt="github">
            </div>
          </a>
      
          <a href="#">
              <div class="sosialmedia">
                <img src="/Asset/Instagram.jpg" alt="Instagram">
            </div>
          </a>
      
          <a href="#">
            <div class="sosialmedia">
              <img src="/Asset/Discord.jpg" alt="discord">
            </div>
          </a>
        </div>
      </div>

    <div id="message">
      <a href="#">
        <div class="sosialmedia">
          <img src="/Asset/Pesan.jpg" alt="Pesan">
        </div>
      </a>
    </div>
  </div>
</nav>
  </header>

  
  <section class="main-hero">
    <div class="top">
        <img id="background" src="/Asset/BackGround.png" alt="Background"> 
          <img id="partikel" src="/Asset/Partikel 2.png" alt="partikel">
            <img id="partikel1" src="/Asset/Partikel 2.png" alt="partikel">
          <img id="gelombang1" src="/Asset/Gelombang 3.png" alt="gelombang">
        <img id="gelombang2" src="/Asset/Gelombang 2.png" alt="gelombang">
      <img id="gelombang3" src="/Asset/Gelombang 1.png" alt="gelombang">
    <img id="foto" src="/Asset/Foto 1.png" alt="foto">
  </div>

    <div class="text">
      <h1>Mulia Andiki</h1>
    </div>
    
    <div class="slide">
      <img src="/Asset/slide 1.png" alt="slide1">
        <div id="text1">
          <h2>Perkenalkan Aku Mulia Andiki</h2>
        </div>
    </div>
  </div> 
</section>

<section class="branding">
    

</section>

</body>
</html>