<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 2</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/Asset/icon.jpeg">
</head>
<body>
    <div id="message-container">
        <h2 id="form-title">Kirim Pesan</h2>
        <form id="message-form">
            <label for="to" id="label-to">Kepada :</label>
            <input type="text" id="to" name="to" placeholder="mulia23@mhs.usk.ac.id" required>
            
            <label for="subject" id="label-subject">Subjek :</label>
            <input type="text" id="subject" name="subject" placeholder="Masukkan subjek" required>
            
            <label for="message11" id="label-message">Isi Pesan :</label>
            <textarea id="message" name="message" placeholder="Tulis pesan Anda..." required></textarea>
            
            <button id="send-button" type="submit">Kirim</button>
        </form>
    </div>
</body>
</html>
